/* Header.scss */
.button-gradient {
    background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 25px;
    padding: 0 30px;
}
.shadow-cyan {
    box-shadow: 0 4px 20px rgba(6, 182, 212, 0.5); 
}
.custom-modal {
    .ant-modal-content {
        background: linear-gradient(to bottom, #fef6f5, #ecf5fe, #edf6fe);
    }
}
