/* src/assets/font/font.scss */

@font-face {
    font-family: 'R-Black';
    src: url('./RedditSansCondensed-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'R-Bold';
    src: url('./RedditSansCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'R-ExtraBold';
    src: url('./RedditSansCondensed-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'R-ExtraLight';
    src: url('./RedditSansCondensed-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'R-Light';
    src: url('./RedditSansCondensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'R-Medium';
    src: url('./RedditSansCondensed-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'R-Regular';
    src: url('RedditSansCondensed-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'R-SemiBold';
    src: url('./RedditSansCondensed-SemiBold.ttf') format('truetype');
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  