/* src/assets/font/font.scss */

@font-face {
    font-family: 'Nutri-Light';
    src: url('./NunitoSans_7pt_Condensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Nutri-Regular';
    src: url('./NunitoSans_7pt_Condensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nutri-Semi';
    src: url('./NunitoSans_7pt_Condensed-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nutri-Bold';
    src: url('./NunitoSans_7pt_Condensed-Bold.ttf') format('truetype');
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  