.terms-of-use {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #dbdbdb35;
    color: #333;
    border-radius: 15px;

    h1 {
        color: #4096ff; // Màu xanh chủ đạo của BLUE
        font-size: 2.5em;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }

    section {
        margin-bottom: 30px;

        h2 {
            color: #4096ff;
            font-size: 1.8em;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        a {
            color: #ff8c00;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}